<h1 class="heavy">Cyberpunk.NET</h1>

<%= image_tag "computer-punk.png", class: "computer-punk" %>

<%= link_to "Sign in with your Google Account", user_omniauth_authorize_path(:google_oauth2), class: "button" %>
