<h1>Characters</h1>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.handle, character %> | <%= link_to "edit", edit_character_path(character) %> | <%= link_to "destroy", character, method: :delete %></li>
  <% end %>
</ul>

<%= link_to "New Character", new_character_path %>