<h1>Your Characters</h1>

<ul class="characters">
  <% @characters.each do |character| %>
    <li class="character"><%= link_to character.handle, character %> | <%= link_to "edit", edit_character_path(character) %> | <%= link_to "destroy", character, method: :delete %></li>
  <% end %>
</ul>

<%= link_to "New Character", chose_role_characters_path %>