<h1>Campaigns</h1>

<ul class="stomp">
  <% @campaigns.each do |campaign| %>
    <li>
      <% membership = campaign.membership_for(current_user) %>
      <%= link_to campaign.name, campaign %> (as <%= membership_status(membership) %>)
      <% if membership.admin? %>
        | <%= link_to "Destroy", campaign, confirm: "Are you sure you want to permanently destroy the campaign #{campaign.name}?", method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New Campaign", new_campaign_path, class: "button add" %>
