/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea
  width: 500px
  height: 200px

body
  font-size: 14px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial
  margin-left: 40px
  margin-top: 30px

h1
  font-size: 3em
  margin-bottom: 0.5em

h2
  font-size: 2em
  margin-bottom: 0.8em

.inversed
  color: white
  background: black
  padding: 6px
  display: inline-block

h3
  font-size: 1.5em
  margin-bottom: 0.5em

input[type=number]
  margin-left: 10px
  width: 30px

.clear
  clear: both

.hidden
  display: none