// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.played-by
  font-style: italic

#new_character h2
  margin-top: 1em

.character-box
  float: left
  margin-right: 40px
  max-width: 700px

.skill-list-box
  float: left
  margin-right: 20px
  width: 250px
  background: #EEE
  padding: 20px
  label
    width: 200px
    display: block
    float: left

.life-events
  label
    display: none
  textarea
    padding: 4px
    line-height: 1.5em
    height: 20px
    margin-bottom: 20px

.characters
  li
    padding: 4px 0

.warning
  color: red

.stats
  clear: both

.stat
  float: left
  margin-right: 10px
  width: 50px
  padding-bottom: 20px

.stat-name
  display: block
  color: gray
  margin-bottom: 0.4em
  text-align: center

.stat-value
  display: block
  font-size: 2em
  font-weight: 600
  text-align: center

.skill-group
  width: 25em
  margin: 1em
  clear: both

.skill
  font-size: 1.2em
  margin-bottom: 0.7em
  padding-right: 20px
  .values
    margin-right: 0.3em
    text-align: right
    width: 3.2em
    display: inline-block
    .value.actual
      color: #666
    .value.modified
      color: #333
      font-weight: 600

.circle-icon
  background: black
  border-radius: 50%
  width: 14px
  height: 14px
  display: inline-block
  &.career
    background: #81a4ea
  &.pickup
    background: #5bc15c
  &.chip
    background: yellow

.box
  padding: 2em
  background: #FFF
  box-shadow: 0 0 13px 1px #999
  border-radius: 20px
  margin-bottom: 2em

.stats-container
  width: 40em

.life-path-entry
  float: left
  margin-right: 3em
  max-width: 25em
  height: 30em
  overflow: auto
  &.motivations
    max-width: 16em
