// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skill-list-box
  float: left
  margin-right: 20px
  width: 250px
  background: #EEE
  padding: 20px
  label
    width: 200px
    display: block
    float: left

.life-events
  label
    display: none
  textarea
    padding: 4px
    line-height: 1.5em
    height: 20px
    margin-bottom: 20px

.characters
  li
    padding: 4px 0

.warning
  color: red
