// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skill-list-box
  float: left
  margin-right: 20px
  width: 250px
  background: #EEE
  padding: 20px

.skill-list-box label
  width: 200px
  display: block
  float: left